<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h3 class="title is-2">




                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="field">
                            <label class="label">firstname</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="firstname">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">lastname</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="lastname">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">username</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="username">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">password</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="password">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">confirm password</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="confirm password">
                            </div>
                        </div>



                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    I agree to the <a href="https://www.nasa.gov/">terms and conditions</a>
                                </label>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <a href="sign-in.ejs" class="button is-text">sign in</a>
                            </div>
                            <div class="control">
                                <button class="button is-link">sign up</button>
                            </div>

                        </div>
                    </div>
                </div>
            </h3>
        </div>
    </div>
</section>
</body>
</html>


